@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
--color1: #b5eacc;
--color2: #94dcb4;
--color3: #4ad486;
--color4: #12dc69;
--color5: #2a9257;
--color6: #133f26;
--font-padrao: arial, verdana, Helvetica, sans-serif;
--font-android: 'Android';
--font-destaque: 'Bebas Neue';
}
*{
margin: 0px;
padding: 0px;
}
body{
background-color: var(--color1);
font-family: var(--font-padrao);
}
a.external::after {
content: '\00a0\1F517';
}
header{
    background-image: linear-gradient(to bottom, #12dc69, #2a9257, #133f26 );
    padding-top: 40px;
    min-height: 150px;
    text-align: center;

}
header > h1{
font-family: var(--font-destaque);
color: white;
padding-bottom: 40px;
font-size: 3em;
font-weight: normal;
text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.42);
}
header > p{
font-family: var(--font-padrao);    
color: white;
margin: auto;
max-width: 600px;
padding-right: 10px;
padding-left: 10px;
margin: auto;
text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.42);

}
nav{
background-color: var(--color6);
padding: 10px;
box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.556) ;
}
nav > a{
    font-weight: bolder;
    border-radius: 20px;
color: white;
padding: 10px;
text-decoration: none;
font-size: 13px;
}
nav > a:hover {
    background-color: var(--color3);
    color: var(--color5)}
main{
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.561);
    padding: 20px;
    margin: auto;
    min-width: 300px;
    max-width: 700px;
    margin-bottom: 30px;
background-color: white;
}
main img{
width: 100%;
}
main img.pequena{

display: block;
margin: auto;
max-width: 350px;
}
main h1{
color: var(--color6);
font-family: var(--font-android);   
font-weight: normal;
font-size: 25px;
}
main h2 {
    padding: 2px 8px;
    background-image: linear-gradient(to right, var(--color1), transparent);
    color: var(--color5);
    font-family: var(--font-android);
}
main p {
    text-indent: 30px;
    margin: 15px 0px;
    line-height: 2em;
    font-size: 1.1em;
}
main strong{
    color: var(--color6);
}

main a{
font-weight: bolder;
text-decoration: none;
color: var(--color6);
background-color: var(--color2);
padding: 3px 7px;
}
div.video{
background-color: var(--color6);
margin: 0px -20px 30px -20px;
padding: 20px;
padding-bottom: 58%;
position: relative;
}
div.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;

}
aside{
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
background-color: var(--color1);
box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.276);
}
aside h3{
color: white;
background-color: var(--color5);
text-align: center;
padding: 10px;
margin: -10px -10px 0px -10px;
border-radius: 10px 10px 0px 0px;
}
aside ul{
list-style-position: inside;
list-style-type: '\2611\00a0\00a0';
columns: 2;

}
aside abbr{
text-decoration: none;
}
aside p{
line-height: 2em;
font-size: 1.1em;
}
footer{
padding: 8px;
text-align: center;
background-color: var(--color6);
    color: white;
}
footer a{
    font-size: 14px;
    font-weight: bolder;
    color: white;
    text-decoration: none;

}
a:hover{
color: var(--color2);
text-decoration: underline;
}